body{
    background-color: rgb(97, 4, 97);
    margin-top: 2%; 
	margin-left: 2%;    
}
h1{
	margin: 25%;
    color: rgb(255, 255, 92);
    text-align: center;
}
a{
    color: rgb(223, 16, 119);
	
}